@import url(fontawesome-all.min.css);

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

html,
body {
    margin: 0;
    background-color: #dacaac;
}

hr {
    background-color: #dd9787;
    border: 0;
    height: 1px;
    border-color: transparent;
}

#Popup-box {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 70%;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    background-color: #f6e7cb;

    transition: transform 0.5s, box-shadow 0.5s;

    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.3);

    overflow-y: scroll;
    z-index: 4;

}

#Header-holder {
    height: 70%;
    position: fixed;
    bottom: 0;
    transition: transform 0.5s, box-shadow 0.5s;
    width: 100%;
    pointer-events: none;
    z-index: 5;

}

#Header-holder.isHidden {
    transform: translateY(100%);
}

#Popup-box.isHidden {
    transform: translateY(100%);
    box-shadow: none;
}

#Popup-header {
    width: 100%;
    /* height: 3em; */
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #f6e7cb;

    padding: 1em;
    border-bottom: solid 1px #dd9787;
    pointer-events: all;
    transition: all 0.25s;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.noShadow {
    box-shadow: none;
}

#Popup-close {
    float: right;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.25em;
    color: black;
    font-family: Helvetica, Arial, sans-serif;

}

#Content {
    padding: 1em;
    padding-top: 0.5em;
}

#Name {
    display: inline-block;
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#Bar {
    margin-top: 3.5em;
    padding: 1em;
}

#Icons {
    list-style-type: none;

    padding-left: 0;
    margin: 0;
}

#Icons li {
    display: inline-block;
    color: #dd9787;
    font-size: 1.3em;
    padding-right: 0.75em;
}

#Image {
    width: 100%;
}

#Tagline,
.List-Tagline {
    margin-top: 0;
    font-style: italic;
    color: #dd9787;
}

.List-Tagline {
    max-width: 70%;
    overflow-y: hidden;
    max-height: 70%;
}

.List-Name {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#Description {
    white-space: pre-line;
}

.Visible {
    opacity: 1;
}

.Invisible {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.Splash-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f6e7cb;
    text-align: center;
    align-content: center;

}

.Splash-screen img {
    width: 100%;
    display: block;
    justify-self: center;
    padding: 3em;
}

.button {
    height: 3em;
    min-width: 5em;
    background-color: #a6c48a;
    border: none;
    border-radius: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
}

.Splash-screen button {}

.space {
    margin-top: 5em;
    margin-bottom: 5em;
}

.Splash-screen p {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

#Menu-bar {
    list-style-type: none;
    background-color: #f6e7cb;
    position: fixed;
    width: 100%;
    height: 5em;
    bottom: 0;
    z-index: 0;
}

#Menu-bar ul {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#Menu-bar ul li {
    display: inline-block;
    font-size: 2em;
}

#Menu-bar i {
    color: #a35e4e;
}

#Map-holder {
    width: fit-content;
    height: 100%;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
    white-space: nowrap;
}

#Map {
    /* height: 150vh; */
    pointer-events: all;
    -webkit-overflow-scrolling: touch;
    min-width: 1330px;
    min-height: 1330px;
    touch-action: manipulation;
}

#Media {
    list-style-type: none;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    height: 12em;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    margin-bottom: 2em;

}

.Header {
    font-size: 1.3em;
    margin-left: 0.7em;
    font-weight: bold;
    color: #dd9787;
    margin-top: 0;
    font-family: Helvetica, Arial, sans-serif;

}

#Media li {
    display: inline-block;
    height: 100%;
    margin-right: 1em;
}

#Media li img {
    height: 100%;

}

#Filter {
    background-color: #a6c48a;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    /* border-radius: 1em; */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

}

input[type="checkbox"] {
    accent-color: #f6e7cb;
    border: none;
}

input[type="checkbox"]::before {
    accent-color: #f6e7cb;
    border: none;
}

#Filter.Closed {
    height: 0;
    padding: 0;
    padding-left: 1em;
    transition: all 0.5s;
    margin: 0;
}

#Filter.Open {
    height: 6.25em;
    transition: all 0.5s;
    /* min-height: ; */
    /* display: flex; */
}

#Filter li {
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-flex;

    align-items: center;
    width: fit-content;
    /* display: inline-block; */



}

#List {
    padding: 1em;
    margin-top: 0;
    overflow: scroll;
    margin-bottom: 5em;
}

#List li {
    list-style-type: none;
    display: block;
    height: 6em;
    background-color: #f6e7cb;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

#List li img {
    height: 5em;
    float: left;
    padding-right: 0.5em;
}

.checkbox {
    height: 1.5em;
    width: 1.5em;

}

li p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #f6e7cb;
    padding: 1em;
    border-radius: 1em;

}

#body p {
    margin-top: 0;
    margin-bottom: 0;
}

.right {

    background-color: #f6e7cb;
    padding: 1em;
    width: 60%;
    display: inline-block;
    margin: 1em;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 1em;

}

#pfp {
    width: 30%;
    border-radius: 50%;
    height: 30%;
    background-color: white;
    display: inline-block;
    margin: 1em;
    margin-top: 0;
    margin-left: 0;
}

#header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}